body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: black;
    float: left;
    font: 80% tahoma;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    position: fixed top;
    top: 0px;
}

#menu {
    position: absolute;
    z-index: 10;
    background-color: black;
    width: 100%;
}

.containerCaroulse {
    width: 100%;
}

.carousel-control {
    top: 60px !important;
}

.img {
    align-items: center;
    cursor: pointer;
    float: left;
    padding: 10px;
    width: 130px;
    height: 60px;
    margin: 0px;
    top: fixed;
}

.entrar {
    background-color: #ff971f;
    color: white;
    display: inline-block;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.entrar:hover {
    background-color: #ff971fe5;
    color: white;
}

.main {
    background-color: black;
}

.formMensagem{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* max-width  */

@media screen and (max-width: 600px) {
    .um {
        background: #F9C;
    }
    span.lt600 {
        display: inline-block;
    }
}

/* min-width */

@media screen and (min-width: 900px) {
    .dois {
        background: #F90;
    }
    span.gt900 {
        display: inline-block;
    }
}

/* min-width & max-width */

@media screen and (min-width: 600px) and (max-width: 900px) {
    .tres {
        background: #9CF;
    }
    span.bt600-900 {
        display: inline-block;
    }
}

/* max device width */

@media screen and (max-device-width: 480px) {
    .iphone {
        background: #ccc;
    }
}